<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: #ececec;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            border-bottom: 1px solid #ccc;
            color: #3F51B5;
            padding-bottom: 8px
        }

        .container {
            margin: auto;
            width: 350px;
            text-align: center;
        }

        .listFlex {
            display: flex;
            justify-content: center;
        }

        img {
            width: 100%;
        }

        #profile {
            border: 1px solid black;
            background-color: blue;
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        #logout {
            border: 1px solid black;
            background-color: red;
            color: white;
            text-decoration: none;
            padding: 10px;
            margin-left: 10px;
        }
    </style>
    <title>User Profile</title>
</head>

<body>
    <div class="container">
        <% if(login) {%>
        <p style="color: green;">Login Successfully</p>
        <% } %>
        <h1>Welcome to Cashtoken Africa</h1>
        <p>We are happy to have you here</p>
        <a href=<%= user_info_uri %> id='profile'>View Profile</a>
        <a href=<%= signout_uri %> id='logout'>Logout</a>
    </div>
</body>

</html>